@model ValveSizing.Models.Valvula
@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="parte1 animateanimated animatebackInDown">

        <h1 class="title">Software para optimizar el dimensionamiento de válvulas de control hidráulico</h1>

    </div>
    <div class="wrapper animateanimated animatebounceInUp">
        <div class="Cold-info">
            <h2 class="subtitulo">Calculadora para el dimensionamiento de válvulas</h2>
            <p class="texto">
                Herramienta realizada por estudiantes de la carrera de ingeniería de sistemas de la Universidad EAN de Colombia, como proyecto de grado.

            </p>
        </div>
    </div>
</div>